<%- include('template/header') %> 
<link rel="stylesheet" href="/css/blog.css">
<link rel="stylesheet" href="/css/blog-responsive.css">
    <div class="main-blog">
        <div class="article">
            <!-- NEWS INFO -->
            <div class="head">
                <div class="head-info">
                    <img src="<%= doc.autor.image %>" alt="" width="40px" height="40px" onerror=this.src="/img/noprofile.jpg">
                    <div class="head-info-data">
                        <p class="head-autor">Created by: <%= doc.autor.name %></p>
                        <p class="head-date"><%= doc.date %></p>
                    </div>
                </div>
                <h1 class="head-title"><%= doc.title %></h1>
            </div>
            <!-- NEWS IMAGE -->
            <img class="article-img" src="/img/<%= doc.image.filename %>" alt="" >
            <!-- NEWS MAIN CONTENT -->
            <div class="content">
                <div class="content-mksa">
                    <h4>MK;SA</h4>
                    <p>"<%= doc.mksa %>"</p>
                </div>
                <div class="content-main">
                    <% content.forEach(line =>{ %>
                        <p><%= line %></p>
                    <%}) %>
                </div>
                <h1 class="article-end">. . .</h1>
            </div>
        </div>
        <div class="autor">
            <div class="autor-info">
                <div class="autor-profile">
                    <img class="autor-image" src="<%= doc.autor.image %>" alt="" onerror=this.src="/img/noprofile.jpg">
                    <h3><%= doc.autor.name %> </h3>
                    <p><%=doc.autor.description%></p>
                    <% if (docUser.id !== user.id){%>
                        <% if(followButton){%>
                            <form action="/blog/follow/<%= doc.id %> " method="post">
                                <button type="submit" class="autor-follow-button">Follow</button>
                            </form>
                        <%} else{%>
                            <form action="/blog/unfollow/<%= doc.id %> " method="post">
                                <button type="submit" class="autor-unfollow-button">Unfollow</button>
                            </form>
                        <% } %>  
                    <%} %> 
                </div>
                <hr>
                <div class="more-news">
                    <h4>More From <%= doc.autor.name %> </h4>
                    <% if(docByAutor.length == 0){ %>
                        <p class="no-post">No other news</p>
                    <% } %> 
                    <% docByAutor.forEach(doc=>{ %>
                        <div class="blog-card">
                            <div class="blog-main">
                                <div class="blog-autor-info">
                                    <img src="<%= doc.autor.image %> " alt="" onerror=this.src="/img/noprofile.jpg" width="20px" height="20px" style="border-radius: 100%; object-fit:cover ;">
                                    <p class="autor-card"> <%= doc.autor.name %> </p>
                                </div>
                                <a href="/blog/<%= doc._id %> ">
                                    <div class="content">
                                        <h3 class="title-card-autor" style="margin:0 ;"><%= doc.title %> </h3>
                                    </div>
                                </a>
                                <div class="info-card">
                                    <p class="date-card"><%= doc.date %></p>
                                </div>
                            </div>
                            <a href="/blog/<%= doc._id %> ">
                                <div class="blog-img-autor">
                                    <img src="/img/<%= doc.image.filename %>" alt="" onerror=this.src="/img/noimg.jpg">
                                </div>
                            </a>
                        </div>
                <% }) %> 
                </div>
            </div>
        </div>
    </div>
    
<%- include('template/footer') %> 