<%- include('template/header') %> 

    <link rel="stylesheet" href="/css/blog.css">
    <div class="main">
        <div class="head">
            <p class="head-date"><%= doc.date %></p>
            <h1 class="head-title"><%= doc.title %></h1>
            <p class="head-autor">Created by: <%= doc.autor %></p>
        </div>
        <div class="content">
            <div class="content-mksa">
                <h4>MK;SA</h4>
                <p><%= doc.mksa %></p>
            </div>
            <div class="content-main">
                <p><%= doc.content %></p>
            </div>
        </div>
    </div>
    
<%- include('template/footer') %> 