<%- include('template/header') %> 

    <link rel="stylesheet" href="/css/blog.css">
    <div class="main-blog">
        <div class="article">
            <div class="head">
                <div class="head-info">
                    <img src="<%= doc.autor.image %>" alt="" width="40px" height="40px" onerror=this.src="/img/noprofile.jpg">
                    <div class="head-info-data">
                        <p class="head-autor">Created by: <%= doc.autor.name %></p>
                        <p class="head-date"><%= doc.date %></p>
                    </div>
                </div>
                <h1 class="head-title"><%= doc.title %></h1>
            </div>
            <img class="article-img" src="/img/<%= doc.image.filename %>" alt="" width="80%">
            <div class="content">
                <div class="content-mksa">
                    <h4>MK;SA <br> (Males Kepanjangan Singkat Aja)</h4>
                    <p>"<%= doc.mksa %>"</p>
                </div>
                <div class="content-main">
                    <% content.forEach(line =>{ %>
                        <p><%= line %></p>
                    <%}) %>
                </div>
                <h1 class="article-end">. . .</h1>
            </div>
        </div>
        <div class="autor">
            <div class="autor-info">
                <div class="autor-profile">
                    <img src="<%= doc.autor.image %>" alt="" width="100px" height="100px" onerror=this.src="/img/noprofile.jpg">
                    <h3><%= doc.autor.name %> </h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod cumque et, laboriosam minima qui </p>
                    <form action="#" method="post">
                        <button class="autor-follow-button">Follow</button>
                    </form>
                </div>
                <hr>
                <div class="more-news">
                    <h4>More From <%= doc.autor.name %> </h4>
                    <% if(docByAutor.length == 0){ %>
                        <p class="no-post">you're not posted yet. Let's create post <a href="/submit">here</a></p>
                    <% } %> 
                    <% docByAutor.forEach(doc=>{ %>
                        <div class="blog-card">
                            <div class="blog-main">
                                <div class="blog-autor-info">
                                    <img src="<%= doc.autor.image %> " alt="" onerror=this.src="/img/noprofile.jpg" width="20px" height="20px" style="border-radius: 100%;">
                                    <p class="autor-card"> <%= doc.autor.name %> </p>
                                </div>
                                <a href="blog/<%= doc._id %> ">
                                    <div class="content">
                                        <h4 class="title-card-autor" style="margin:0 ;"><%= doc.title %> </h4>
                                    </div>
                                </a>
                            </div>
                            <a href="blog/<%= doc._id %> ">
                                <div class="blog-img">
                                    <img src="/img/<%= doc.image.filename %>" alt="" onerror=this.src="/img/noimg.jpg" width="80" height="80">
                                </div>
                            </a>
                        </div>
                <% }) %> 
                </div>
            </div>
        </div>
    </div>
    
<%- include('template/footer') %> 