<%- include('template/header') %> 
<link rel="stylesheet" href="/css/home-auth.css">
<link rel="stylesheet" href="/css/home-auth-responsive.css">

<div class="main">
    <div class="news">
        <div class="blog-auth">
            <a class="a-title-auth" href="/submit">
                <div class="title-auth">
                    <i class="uil uil-pen icon-write"></i>
                    <h5>Create post</h5>
                </div>
            </a>
            <h3 class="news-type">>>> Recent News</h3>
            <% news.forEach(doc=>{ %>
                    <div class="blog-card">
                        <div class="blog-main">
                            <!-- AUTOR INFO -->
                            <div class="blog-autor-info">
                                <img src="<%= doc.autor.image %> " alt="" onerror=this.src="/img/noprofile.jpg" width="20px" height="20px" style="border-radius: 100%;object-fit:cover ;">
                                <p class="autor-card"> <%= doc.autor.name %> </p>
                            </div>
                            <!-- CONTENT MAIN -->
                            <a href="/blog/<%= doc._id %> ">
                                <div class="content">
                                    <h3 class="title-card"><%= doc.title %> </h3>
                                    <p class="content-card"><%= doc.mksa.substring(0,180) %> ...</p>
                                </div>
                            </a>
                            <!-- CONTENT INFO -->
                            <div class="info-card">
                                <p class="date-card"><%= doc.date %></p>
                            </div>
                        </div>
                        <!-- CONTENT IMAGE -->
                        <a href="/blog/<%= doc._id %> ">
                            <div class="blog-img-main">
                                <img src="/img/<%= doc.image.filename %>" alt="" onerror=this.src="/img/noimg.jpg" width="200" height="150" style="object-fit:cover ;">
                            </div>
                        </a>
                    </div>
            <% }) %> 
        </div>
        <div class="profile-info">
            <div class="profile-sticky">
                <div class="profile-account">
                    <img src="<%= user.image %> " alt="" onerror=this.src="/img/noprofile.jpg" width="150px" height="150px" style="border-radius: 100%; object-fit: cover;">
                    <h3 class="profile-name"><%= user.name %> </h3>
                    <div class="profile-follow">
                        <a href="#">Followers: <%=user.follower%></a>
                        <a href="#">Following: <%=user.follower%></a>
                    </div>
                    <p class="profile-desc"><%= user.description %> </p>
                    <div class="profile-setting">
                        <a href="/account/edit"><button>Edit Profile</button></a>
                        <!-- <a href=""><button>Logout</button></a> -->
                    </div>
                </div>
                <hr>
                <h4>>>> Your Post</h4>
                <div class="more-news">
                    <% if(docByAutor.length == 0){ %>
                        <p class="no-post">you're not posted yet. Let's create post <a href="/submit">here</a></p>
                    <% } %> 
                    <% docByAutor.forEach(doc=>{ %>
                        <div class="blog-card">
                            <div class="blog-main">
                                <div class="blog-autor-info">
                                    <img src="<%= doc.autor.image %> " alt="" onerror=this.src="/img/noprofile.jpg" width="20px" height="20px" style="border-radius: 100%; object-fit: cover;">
                                    <p class="autor-card"> <%= doc.autor.name %> </p>
                                </div>
                                <a href="blog/<%= doc._id %> ">
                                    <div class="content">
                                        <h3 class="title-card-autor"><%= doc.title %></h3>
                                    </div>
                                </a>
                                <div class="info-card">
                                    <p class="date-card"><%= doc.date %></p>
                                </div>
                            </div>
                            <a href="blog/<%= doc._id %> ">
                                <div class="blog-img-profile">
                                    <img src="/img/<%= doc.image.filename %>" alt="" onerror=this.src="/img/noimg.jpg" width="100px" height="100px" style="object-fit:cover ;">
                                </div>
                            </a>
                        </div>
                <% }) %> 
                </div>
            </div>
            
        </div>
    </div>
</div>

<%- include('template/footer') %> 