<%- include('template/header') %> 

    <div class="main">

        <% if(!user){ %> 
            <div class="main-signin">
                <p>Ingin menulis berita kamu sendiri, mari daftarkan diri terlebih dahulu</p>
                <a href="/auth/signin"><button>Sign In</button></a>
            </div>
        <% }else{ %> 
            <div class="main-submit">
                <h2>Welcome Back <%= user.name %> </h2>
                <p>Now you can create your own news</p>
                <a href="/submit"><button>Create News</button></a>
            </div>
        <% } %> 

        <div class="title">
            <h1>Recent News</h1>
        </div>
        <div class="blog">
            <% news.forEach((doc)=>{ %>
                <a href="blog/<%= doc._id %> ">
                    <div class="blog-card">
                        <p class="date-card"><%= doc.date %></p>
                        <h3 class="title-card"><%= doc.title %> </h3>
                        <p class="autor-card">Created by: <%= doc.autor %> </p>
                        <p class="content-card"><%= doc.mksa %></p>
                    </div>
                </a>
            <% }) %> 
        </div>
    </div>

<%- include('template/footer') %> 